<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Movie Recherer</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/all.min.css"/>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/home.css" />
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                {{{body}}}
            </div>
        </div>

        
        <script language="javascript" src="/jquery.min.js"></script>
        <script language="javascript" src="/js/bootstrap.min.js"></script>
        <script language="javascript" src="/js/main.js"></script>
        {{!-- <script type="module" src="../../public/js/models/Movie.js"></script>
        <script type="module" src="/js/models/search.js"></script>
        <script type="module" src="/js/views/base.js"></script>
        <script type="module" src="/js/views/movieView.js"></script>
        <script type="module" src="/js/views/searchView.js"></script> --}}
    </body>
</html>
