<div class="login-form">
	<h1>User Register</h1>
	<form action="/user/signup" method="POST">
		<input type="text" name="username" placeholder="Username" required>
		<input type="text" name="email" placeholder="Email" required>
		<input type="password" name="password" placeholder="Password" required>
		<input type="text" name="Address" placeholder="Address" required>
		<input type="text" name="contactNumber" placeholder="Contact Number" required>
		<input type="submit" placeholder="signup" id="signup">
	</form>
	<a href="/user" type="submit">Go To Login</a>
</div>